<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Over Subscribed.</h1>
        <h2>You may not register more than five courses OR register a course more than once.</h2>
    </hgroup>
</body>
</html>
