@model IEnumerable<StudentManager.Models.ViewModels.StudentCourses>

@{
    ViewBag.Title = "RegisteredLessThanFive";
}

<h4>Students with less than five courses registered.</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)           
        </td>
    </tr>
}

</table>
